*
{
	box-sizing: border-box;
	outline: none;
}

body{
	margin: 0px;
	scroll-behavior: smooth;
	scroll-snap-type : y mandatory;
}

body > *
{
	scroll-snap-align: start;
}

a
{
	color: black;
	outline: none;
	text-decoration: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative
}

bdrc *
{
  border: 1px solid;
}

#logo
{
  background-position-x: -10px;
}

.sdh:active
{
  transform: scale(0.8);
}

.tap:active
{
  transform: translateY(5px) scale(0.8);
}

#menu-list-items > *{
	padding: 15px;
	font-weight: 400;
}

#menu-list-items > a:hover
{
  background: #F0F0F0;
}

.pop
{
	box-shadow: 0px 3px 0px 0px  #333;
}

.pop:active
{
	transform: translateY(2px);
	box-shadow: 0px 1px 0px 0px ;
}

.card
{
	background: linear-gradient(90deg, #D2EEFF, #75C1FF, #00A9FF);
}

@media only screen and (min-width: 768px)
{
	#viewport, #menu-list
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	#left{min-width: 10%;}#middle{min-width: 70%;}#right{min-width: 20%;}
	*{font-size: 18px;}
	
	div#hamburger
	{
		display: none;
	}

}

.slideIn
{
	transform: translateX(-480px)
	animation-fill-mode : forwards;
	animation: slideR 0.2s linear 0s 1 normal;
}

@keyframes slideR
{
	from{ transform: translateX(-480px)}
	to{transform : translateX(0px)}
}

.hr1
{
	position: relative;
	transform-origin: 0% 50%;
	top: -5px;
	left: 5px;
	transform: rotate(45deg);
}

.hr2
{
	position: relative;
	transform-origin: 0% 50%;
	top: 2px;
	left: 5px;
	transform: rotate(-45deg);
}






